<header>
    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
				<div class="col-md-3">
					<div class="header-logo">
						<a href="/" class="logo">
							<img src="../static/img/logo.png" alt="">
						</a>
					</div>
				</div>
				<div class="col-md-3 clearfix">
					<div class="header-ctn">
						<!-- Menu Toogle -->
						<div class="menu-toggle">
							<a href="#">
								<i class="fa fa-bars"></i>
								<span>Menu</span>
							</a>
						</div>
						<!-- /Menu Toogle -->
					</div>
				</div>
				<!-- /LOGO -->

				<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="header-search">
							<form action = "/groups" method = "GET">
								<input class="input" placeholder="Bạn muốn tìm xe gì?" name="name">
								<button class="search-btn">Tìm xe</button>
							</form>
						</div>
					</div>
				<!-- /SEARCH BAR -->

				<!-- ACCOUNT -->

				<!-- /ACCOUNT -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- /MAIN HEADER -->
</header>